USE [master]
GO
/****** Object:  Database [demo1]    Script Date: 09/12/2023 19:07:30 ******/
CREATE DATABASE [demo1] ON  PRIMARY 
( NAME = N'demo1', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\demo1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'demo1_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\demo1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demo1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demo1]
GO
/****** Object:  Table [dbo].[TBL_Registration]    Script Date: 09/12/2023 19:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Registration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Gender] [varchar](20) NULL,
	[Email] [varchar](200) NULL,
	[Profile] [varchar](max) NULL,
	[Qualification] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[District] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[RegDate] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_Registration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Registration] ON
INSERT [dbo].[TBL_Registration] ([Id], [Name], [Mobile], [Gender], [Email], [Profile], [Qualification], [Address], [District], [DOB], [RegDate]) VALUES (1, N'Ashish pandey', N'9554303136', N'male', N'ashishpandey635383@gmail.com', N'Tourism.pdf', NULL, N'lucknow
', NULL, N'2023-09-14', N'07-09-2023 19:45:18')
INSERT [dbo].[TBL_Registration] ([Id], [Name], [Mobile], [Gender], [Email], [Profile], [Qualification], [Address], [District], [DOB], [RegDate]) VALUES (2, N'Ashish pandey', N'9554303136', N'male', N'ashishpandey635383@gmail.com', N'Tourism.pdf', NULL, N'lucknow
', NULL, N'2023-09-14', N'07-09-2023 19:46:13')
INSERT [dbo].[TBL_Registration] ([Id], [Name], [Mobile], [Gender], [Email], [Profile], [Qualification], [Address], [District], [DOB], [RegDate]) VALUES (3, N'Ashish pandey', N'9554303136', N'male', N'ashishpandey635383@gmail.com', N'Tourism.pdf', NULL, N'lucknow
', NULL, N'2023-09-14', N'07-09-2023 19:46:41')
SET IDENTITY_INSERT [dbo].[TBL_Registration] OFF
/****** Object:  Table [dbo].[TBL_Login]    Script Date: 09/12/2023 19:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Login](
	[Email] [varchar](200) NOT NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_Login_1] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TBL_Login] ([Email], [Password]) VALUES (N'admin@gmail.com', N'abc')
/****** Object:  Table [dbo].[TBL_Contact]    Script Date: 09/12/2023 19:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](200) NULL,
	[MSG] [varchar](300) NULL,
	[Contactdate] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Contact] ON
INSERT [dbo].[TBL_Contact] ([Id], [Name], [Email], [MSG], [Contactdate]) VALUES (1, N'Ashish pandey', N'grtert', N'rtyuio', NULL)
INSERT [dbo].[TBL_Contact] ([Id], [Name], [Email], [MSG], [Contactdate]) VALUES (2, N'sdlfeoifafs', N'ashishpandey635383@gmail.com', N'd''', NULL)
INSERT [dbo].[TBL_Contact] ([Id], [Name], [Email], [MSG], [Contactdate]) VALUES (3, N'sdlfeoifafs', N'ashishpandey635383@gmail.com', N'dfgk;''
', NULL)
SET IDENTITY_INSERT [dbo].[TBL_Contact] OFF
